* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.mt-n8 {
  margin-top: -5rem;
}

.l-8 {
  left: 37% !important;
}

.n-b {
  bottom: 4rem !important;
  position: relative !important;
}

.top-index {
  z-index: 999 !important;
}

.back-index {
  position: relative;
}

nav {
  height: 87px;
  background-color: #A95A18;
  display: block;
  width: 100%;
  z-index: 999;
}

nav .nav-logo {
  float: left;
  line-height: 87px;
}

nav .nav-logo img {
  height: 59px;
  width: auto;
}

nav ul {
  float: right;
  margin: 1.7rem 0rem 0 0;
  -webkit-transition: left .5s ease-in-out;
  transition: left .5s ease-in-out;
}

nav ul li {
  display: inline-block;
  padding: 2px 15px;
  margin: 0 1rem 0 0;
}

nav ul li:last-child {
  color: transparent;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

nav ul li a {
  color: #FFFCFE;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
}

nav ul li a:hover {
  color: #ffffff;
}

nav .login-btn, nav .l-8 {
  float: right;
  color: #FFFCFE;
  padding: 2px 15px;
  border: 2px solid #F7FAFC;
  border-radius: 5px;
  position: relative;
  left: 33%;
  top: 26px;
}

nav .hamburger {
  width: 35px;
  height: 35px;
  background-color: transparent;
  float: right;
  margin: 2.5rem 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

nav .hamburger .burger {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

nav .hamburger .burger::before, nav .hamburger .burger::after {
  content: "";
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

nav .hamburger .burger::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

nav .hamburger .burger::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

nav #menu {
  display: none;
}

nav .hamburger {
  display: none;
}

@media (max-width: 1200px) {
  nav .login-btn, nav .l-8 {
    left: 40%;
  }
}

@media (max-width: 990px) {
  nav .login-btn, nav .l-8 {
    left: 55%;
  }
}

@media (max-width: 895px) {
  nav {
    overflow: hidden;
  }
  nav .nav-logo {
    margin-left: 2.5rem;
  }
  nav ul {
    display: block;
    left: -100%;
    position: absolute;
    top: 13%;
    margin: 0;
    width: 100%;
    height: 90vh;
    border-top: 2px solid #F7FAFC;
    z-index: 999;
    background-color: #A95A18;
  }
  nav ul li {
    display: block;
    text-align: center;
    margin: 40px auto;
  }
  nav ul li:last-of-type {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  nav .container {
    width: 100vw;
    padding: 0;
  }
  nav .login-btn, nav .l-8 {
    float: right;
    color: #FFFCFE;
    padding: 2px 15px;
    border: 2px solid #F7FAFC;
    border-radius: 5px;
    position: relative;
    left: -5%;
    top: 26px;
  }
  nav .hamburger {
    display: block;
  }
  #menu:checked ~ ul {
    display: block;
    left: 0;
  }
  #menu:checked ~ .hamburger .burger {
    background-color: transparent;
  }
  #menu:checked ~ .hamburger .burger::after {
    -webkit-transform: rotate(45deg) translateX(0);
            transform: rotate(45deg) translateX(0);
  }
  #menu:checked ~ .hamburger .burger::before {
    -webkit-transform: rotate(-45deg) translateX(0);
            transform: rotate(-45deg) translateX(0);
  }
}

@media (max-width: 325px) {
  nav .nav-logo img {
    height: 40px;
    width: auto;
  }
}

.main-intro-section {
  width: 100%;
}

.main-intro-section .intro-header {
  background: linear-gradient(136.83deg, #c8651aee 10.1%, #7e1719d5 97.86%), url("/Assets/Videoframe.png") no-repeat center;
  background-size: cover;
  height: 85vh;
  font-family: "Open Sans", sans-serif;
  -webkit-clip-path: circle(180vh at 50% -80vh);
          clip-path: circle(180vh at 50% -80vh);
  z-index: -99;
}

.main-intro-section .intro-header h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 5.5rem;
  color: #ffffff;
  padding: 5rem 0 0;
}

.main-intro-section .intro-header h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  color: #ffffff;
  margin: -1rem 0 0;
}

.main-intro-section .intro-header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -3rem 0 0;
}

.main-intro-section .intro-header .buttons img {
  height: 200px;
}

.main-intro-section .intro-header .bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-intro-section .intro-header .bottom-text .what-you-need {
  width: 40%;
  margin-top: 1.3rem;
}

.main-intro-section .intro-header .bottom-text .what-you-need p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.main-intro-section .intro-header .bottom-text .what-you-need img {
  position: relative;
  top: -20px;
  width: 50%;
  left: 40%;
}

.main-intro-section .intro-header .bottom-text .get-started {
  cursor: pointer;
}

.main-intro-section .intro-header .bottom-text .get-started button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.video-section {
  width: 75%;
  margin: -5rem auto 0;
  background-color: #A95A18;
  height: 730px;
  position: relative;
}

.video-section iframe {
  width: 100%;
  height: 100%;
}

.bottom-section {
  height: 485px;
  width: 100%;
  background-color: #D86018;
  margin: 5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
}

.bottom-section:hover .arrow-left, .bottom-section:hover .arrow-right {
  opacity: 1;
}

.bottom-section .arrow-left, .bottom-section .arrow-right {
  width: 200px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bottom-section .arrow-left::before, .bottom-section .arrow-left::after, .bottom-section .arrow-right::before, .bottom-section .arrow-right::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.bottom-section .arrow-left::after, .bottom-section .arrow-right::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bottom-section .arrow-left::before, .bottom-section .arrow-left::after {
  left: 0;
}

.bottom-section .arrow-right::before, .bottom-section .arrow-right::after {
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 0;
}

.no-borders {
  border: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.image-fit {
  height: 459px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.bottom-p {
  width: 100%;
}

.bottom-p p {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: -73rem;
  margin: auto;
  width: 100%;
}

@media (max-width: 1200px) {
  .video-section {
    margin: -3rem auto 0;
  }
}

@media (max-width: 990px) {
  .main-intro-section .intro-header {
    height: 85vh;
    padding: 0;
  }
  .main-intro-section .intro-header .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content h1 {
    font-size: 4.5rem;
    padding: 0;
  }
  .main-intro-section .intro-header .intro-container .intro-content h3 {
    font-size: 4rem;
  }
  .main-intro-section .intro-header .intro-container .intro-content .buttons {
    margin: -2rem auto 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content .buttons img {
    height: 150px;
  }
  .main-intro-section .intro-header .bottom-text {
    margin: -6rem auto 0;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need p {
    font-size: 1rem;
  }
  .main-intro-section .intro-header .bottom-text .get-started button {
    font-size: 1.3rem;
  }
}

@media (max-width: 895px) {
  .main-intro-section .intro-header {
    height: 85vh;
    padding: 0;
  }
  .main-intro-section .intro-header .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content {
    text-align: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content h1 {
    font-size: 4.5rem;
    padding: 0;
  }
  .main-intro-section .intro-header .intro-container .intro-content h3 {
    font-size: 4rem;
  }
  .main-intro-section .intro-header .intro-container .intro-content .buttons {
    margin: -2rem auto 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content .buttons img {
    height: 150px;
  }
  .main-intro-section .intro-header .bottom-text {
    margin: -8rem auto 0;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need p {
    font-size: 1rem;
  }
  .main-intro-section .intro-header .bottom-text .get-started button {
    font-size: 1.3rem;
  }
  .video-section {
    margin: -5rem auto 0;
    height: 600px;
  }
}

@media (max-width: 586px) {
  .main-intro-section .intro-header {
    height: 85vh;
    padding: 0;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need {
    width: 50%;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need p {
    font-size: .8rem;
  }
  .main-intro-section .intro-header .get-started {
    width: 50%;
  }
  .main-intro-section .intro-header .get-started button {
    font-size: 1rem;
    padding: 0;
  }
  .video-section {
    height: 500px;
  }
}

@media (max-width: 450px) {
  .main-intro-section .intro-header {
    height: 85vh;
    padding: 0;
  }
  .main-intro-section .intro-header .intro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content {
    text-align: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content h1 {
    font-size: 3.5rem;
    padding: 0;
  }
  .main-intro-section .intro-header .intro-container .intro-content h3 {
    font-size: 3rem;
  }
  .main-intro-section .intro-header .intro-container .intro-content .buttons {
    margin: -2rem auto 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-intro-section .intro-header .intro-container .intro-content .buttons img {
    height: 140px;
  }
  .main-intro-section .intro-header .bottom-text {
    display: block;
    margin: -6rem auto 0;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need {
    width: 100%;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need p {
    font-size: .7rem;
  }
  .main-intro-section .intro-header .bottom-text .get-started {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: -9rem auto 0;
  }
  .main-intro-section .intro-header .bottom-text .get-started button {
    font-size: 1rem;
    padding: 2px 5px;
    margin: 1rem auto;
  }
  .video-section {
    margin: -3.5rem auto 0;
    height: 400px;
  }
}

@media (max-width: 325px) {
  .main-intro-section .intro-header {
    height: 85vh;
    padding: 0;
  }
  .main-intro-section .intro-header .bottom-text {
    display: block;
    margin: -3rem auto 0;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need {
    width: 100%;
  }
  .main-intro-section .intro-header .bottom-text .what-you-need p {
    font-size: .7rem;
  }
  .video-section {
    margin: -1rem auto 0;
    height: 300px;
  }
}

.footer {
  background-color: #ffffff;
  width: 100%;
  height: 5rem;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #D86018;
  margin: 0 2.2rem;
}

@media (max-width: 1200px) {
  .footer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#sign-up-form, #sign-in-form {
  position: absolute;
  top: 24%;
  right: 11%;
  opacity: 0;
  pointer-events: none;
  cursor: none;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

#sign-up-form.show {
  display: block;
  opacity: 1;
  pointer-events: all;
  cursor: auto;
}

#sign-in-form {
  top: 12.5%;
  right: 8.5%;
}

#sign-in-form.show {
  display: block;
  opacity: 1;
  pointer-events: all;
  cursor: auto;
}

#sign-up-form.vend, #sign-in-form.vend {
  position: static;
  opacity: 1;
  pointer-events: all;
  cursor: auto;
  display: none;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

form {
  background-color: #ffffff;
  width: 19rem;
  height: 100%;
  padding: 1.5rem 1rem;
  border-radius: 30px;
}

form.vendform {
  width: 30rem;
  border-radius: 20px;
}

h3.formtext {
  font-size: 1.7rem !important;
  padding-left: .8rem;
  padding-bottom: .5rem;
}

.input-field {
  width: 100%;
  outline: 0;
  border: 1px solid #E6E6E6;
  background-color: #F9F9F9;
  border-radius: 5px;
  font-size: .8rem;
  padding: 10px 10px;
  margin: 0 0 .4rem;
}

.input-field::-webkit-input-placeholder {
  font-size: .8rem;
}

.input-field:-ms-input-placeholder {
  font-size: .8rem;
}

.input-field::-ms-input-placeholder {
  font-size: .8rem;
}

.input-field::placeholder {
  font-size: .8rem;
}

span, label {
  font-size: .7rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #737373;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 28px;
}

span a, label a {
  color: #737373;
}

span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

span.cat {
  display: block;
  width: 100%;
  padding: 0 1rem .5rem;
  margin: .8rem 0 .2rem;
}

.checkbox span {
  padding: 0 .5rem;
}

.checkbox [type="checkbox"] + label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: .7em;
  content: url("/Assets/check.png");
  border: 1px solid #1262ed;
  border-radius: 4px;
  width: 0rem;
  padding: .29rem .3rem;
  margin-right: .5rem;
  vertical-align: bottom;
  color: transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

.checkbox [type="checkbox"] + label:active::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.checkbox [type="checkbox"] {
  pointer-events: all;
  position: relative;
  display: none;
}

.checkbox [type="checkbox"]:checked + label::before {
  background-color: #1262ed;
  border-color: #1262ed;
  color: #ffffff;
}

.sign-btns {
  width: 100%;
  color: #ffffff;
  background-color: #D86018;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  padding: .5rem 0;
}

.slink {
  color: #D86018;
  cursor: pointer;
}

.borderonly {
  width: 16rem;
  height: 3.5rem;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.borderonly .file {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #737373;
  font-family: Roboto;
  padding-left: 15px;
}

.borderonly .file img {
  height: 18px;
  padding-right: 6px;
}

.btns {
  background-color: #D86018;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  padding: 1rem 1rem;
  color: white;
  letter-spacing: 0.2px;
  margin-left: -4px;
  cursor: pointer;
  outline: none;
}

.newfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.upload.cl {
  padding-top: 1rem;
  color: rgba(115, 115, 115, 0.5);
}

.signinput-field {
  width: 100%;
  min-height: 3.5rem;
  outline: 0;
  border-radius: 5px;
  padding: 1rem 2rem;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 2.4rem;
}

.plus, .minus {
  width: 3px;
  height: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .9rem 1rem;
  position: relative;
  top: -5.2rem;
  left: 90%;
  margin-bottom: -1.6rem;
  cursor: pointer;
  z-index: 600;
}

.plus::before, .minus::before, .plus::after, .minus::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 20px;
  background: #B7B7B7;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.plus::after, .minus::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.minus::before, .minus::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 20px;
  background: #B7B7B7;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.btn-reg {
  background: #737373;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 1rem 9rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 3rem;
  -webkit-transition: .2s;
  transition: .2s;
  display: block;
  margin-top: 1rem;
}

.btn-reg:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#cap:checked ~ button.btn-reg {
  background: #D86018;
}

@media (max-width: 868px) {
  #sign-up-form {
    top: 20%;
    left: 25%;
    right: 0;
  }
  #sign-in-form {
    top: 12.5%;
  }
}

@media (max-width: 458px) {
  #sign-up-form {
    top: 20%;
    left: 14%;
    right: 0;
  }
  #sign-in-form {
    top: 12.5%;
  }
}

@media (max-width: 378px) {
  #sign-up-form {
    top: 20%;
    left: 10%;
    right: 0;
  }
  #sign-in-form {
    top: 12.5%;
  }
}

@media (max-width: 325px) {
  #sign-up-form {
    top: 20%;
    left: 3%;
  }
  #sign-in-form {
    top: 12.5%;
    right: 2.5%;
  }
}
/*# sourceMappingURL=style.css.map */