.main-intro-section{
    width: 100%;
    .intro-header{
        background: $gradient, url("/Assets/Videoframe.png") no-repeat center;
        background-size: cover;
        height: 85vh;
        font-family: $open-sans;
        // position: relative;
        clip-path: circle(180vh at 50% -80vh);
        z-index: -99;
        // border-radius: 0 0 30% 30%/ 0 0 30% 30%;
        h1{
            font-style: normal;
            font-weight: 800;
            font-size: 5.5rem;
            // line-height: 163px;
            color: $white;
            padding: 5rem 0 0;
        }
        h3{
            font-style: normal;
            font-weight: normal;
            font-size: 5rem;
            // line-height: 131px;
            color: $white;
            margin: -1rem 0 0;
        }
        .buttons{
            display: flex;
            margin: -3rem 0 0;
            img{
                height: 200px;
            }
        }
        .bottom-text{
            display: flex;
            width: 95%;
            justify-content: space-between;
            .what-you-need{
                width: 40%;
                margin-top: 1.3rem;
                p{
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                }
                img{
                    position: relative;
                    top: -20px;
                    width: 50%;
                    left: 40%;
                }
            }
            .get-started{
                cursor: pointer;
                button{
                    font-family: $roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1.5rem;
                    line-height: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    border: 2px solid $white;
                    background-color: transparent;
                    outline: none;
                    padding: 10px 20px;
                    border-radius: $radius;
                }
            }
            
        }
    }
}

.video-section{
    width: 75%;
    margin: -5rem auto 0;
    background-color: $base;
    height: 730px;
    position: relative;
    iframe{
        width: 100%;
        height: 100%;
    }
}

.bottom-section{
    height: 485px;
    width: 100%;
    background-color: $bottom-color;
    // transform: matrix(1, 0, 0, -1, 0, 0);
    margin: 5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    &:hover{
        .arrow-left, .arrow-right{
            opacity: 1;
        }
    }
    .arrow-left, .arrow-right{
        width: 200px;
        height: 1px;
        background-color: $white;
        position: relative;
        opacity: 0;
        transition: 0.5s;
        &::before, &::after{
            content: "";
            position: absolute;
            width: 30px;
            height: 1px;
            background-color: $white;
            transform: rotate(45deg);
            transform-origin: left;
            
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
    .arrow-left{
        &::before, &::after{
            left: 0;
        }
    }
    .arrow-right{
        &::before, &::after{
            transform-origin: right;
            right: 0;
        }
    }
}
.no-borders{
    border: transparent;
    box-shadow: none;
}
.image-fit{
    height: 459px;
    object-fit: cover;
    overflow: hidden;
}
.bottom-p{
    width: 100%;
    p{
        font-size: 20px;
        font-weight: 500;
        color: $white;
        text-align: center;
        position: absolute;
        bottom: -73rem;
        margin: auto;
        width: 100%;


    }
}
@media (max-width: 1200px) {
    .video-section{
        margin: -3rem auto 0;
     }
}
// @media (max-width: 1112px) {
//     .main-intro-section{
//         .intro-header{
//             padding: 11rem 0 0;
//             height: 60vh;
//         }
//     }
//     .video-section{
//         margin: -9rem auto 0;
//      }
// }
@media (max-width: 990px) {
    .main-intro-section{
        .intro-header{
            height: 85vh;
            padding: 0;
            .intro-container{
                 display: flex;
                 justify-content: left;
                 height: 80vh;
                 align-items: center;
                 .intro-content{
                    //  text-align: center;
                     h1{
                         font-size: 4.5rem;
                         padding: 0;
                     }
                     h3{
                         font-size: 4rem;
                     }
                     .buttons{
                         margin: -2rem auto 2.5rem;
                         justify-content: center;
                         img{
                             height: 150px;
                         }
                     }
                 }
                 
            }
            
            .bottom-text{
                margin: -6rem auto 0;
             .what-you-need{
                 p{
                     font-size: 1rem;
                 }
             }
             .get-started{
                 button{
                     font-size: 1.3rem;
                 }
                }
            }
            
        }
     }
}
@media (max-width: 895px) {
    .main-intro-section{
       .intro-header{
        height: 85vh;
        padding: 0;
           .intro-container{
                display: flex;
                justify-content: center;
                height: 80vh;
                align-items: center;
                .intro-content{
                    text-align: center;
                    h1{
                        font-size: 4.5rem;
                        padding: 0;
                    }
                    h3{
                        font-size: 4rem;
                    }
                    .buttons{
                        margin: -2rem auto 2.5rem;
                        justify-content: center;
                        img{
                            height: 150px;
                        }
                    }
                }
                
           }
           
           .bottom-text{
               margin: -8rem auto 0;
            .what-you-need{
                p{
                    font-size: 1rem;
                }
            }
            .get-started{
                button{
                    font-size: 1.3rem;
                }
               }
           }
           
       }
    }
    .video-section{
        margin: -5rem auto 0;
        height: 600px;
     }
}
@media (max-width: 586px) {
    
    .main-intro-section{
        .intro-header{
            height: 85vh;
            padding: 0;
            .bottom-text{
                .what-you-need{
                    width: 50%;
                    p{
                        font-size: .8rem;
                    }
                }
            }
            .get-started{
                width: 50%;
                button{
                    font-size: 1rem;
                    padding: 0;
                }
            }
        }
    }
    .video-section{
        // margin: -5.5rem auto 0;
        height: 500px;
     }
}
@media (max-width: 450px) {
    .main-intro-section{
        .intro-header{
            height: 85vh;
            padding: 0;
            .intro-container{
                 display: flex;
                 justify-content: center;
                 height: 80vh;
                 align-items: center;
                 .intro-content{
                     text-align: center;
                     h1{
                         font-size: 3.5rem;
                         padding: 0;
                     }
                     h3{
                         font-size: 3rem;
                     }
                     .buttons{
                         margin: -2rem auto 2.5rem;
                         justify-content: center;
                         img{
                             height: 140px;
                         }
                     }
                 }
                 
            }
            
            .bottom-text{
                display: block;
                margin: -6rem auto 0;
             .what-you-need{
                 width: 100%;
                 p{
                     font-size: .7rem;
                 }
             }
             .get-started{
                 display: flex;
                 width: 100%;
                 margin: -9rem auto 0;
                 
                 button{
                     font-size: 1rem;
                     padding: 2px 5px;
                     margin: 1rem auto;
                    //  line-height: 0;
                 }
                }
            }
            
        }
     }
     .video-section{
         margin: -3.5rem auto 0;
         height: 400px;
      }
 }
 @media (max-width: 325px) {
    .main-intro-section{
        .intro-header{
            height: 85vh;
            padding: 0;
            .bottom-text{
                display: block;
                margin: -3rem auto 0;
                .what-you-need{
                    width: 100%;
                    p{
                        font-size: .7rem;
                    }
                }
            }
            
        }
    }
    .video-section{
        margin: -1rem auto 0;
        height: 300px;
    }
 }
 
