*{
    @include reset(0px, 0px);
    box-sizing: border-box;
}
body{
    background-color: $white;
}
.mt-n8{
    margin-top: -5rem;
}
.l-8{
    left: 37% !important;
    @extend .login-btn;
}
.n-b{
    bottom: 4rem !important;
    position: relative !important;
}
.top-index{
    z-index: 999 !important;
}
.back-index{
    position: relative;
}