.footer{
    // background-color: $footer;
    background-color: $white;
    width: 100%;
    height: 5rem;
    // overflow: hidden;
    
    ul{
        display: flex;
        align-items: center;
        height: 5rem;
        margin: 0;
        flex-wrap: wrap;
        li{
            list-style: none;
            a{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #D86018;
                margin: 0 2.2rem;
            }

        }
    }
}
@media (max-width: 1200px) {
    .footer{
        ul{
            justify-content: center;
        }
    }
}