#sign-up-form, #sign-in-form{
    position: absolute;
    top: 24%;
    right: 11%;
    opacity: 0;
    pointer-events: none;
    cursor: none;
    // display: none;
    // transition: display .5s ease;
    transition: opacity .5s ease;
}
#sign-up-form.show{
    display: block;
    opacity: 1;
    pointer-events: all;
    cursor: auto;
}
#sign-in-form{
    top: 12.5%;
    right: 8.5%;
}
#sign-in-form.show{
    display: block;
    opacity: 1;
    pointer-events: all;
    cursor: auto;
}
#sign-up-form.vend, #sign-in-form.vend{
    position: static;
    opacity: 1;
    pointer-events: all;
    cursor: auto;
    display: none;
}
.forms{
    display: flex;
    justify-content: center;
    height: 70vh;
    align-items: flex-end;
}
form{
    background-color: $white;
    width: 19rem;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: 30px;
}
form.vendform{
    width: 30rem;
    border-radius: 20px;
}
h3.formtext{
    font-size: 1.7rem !important;
    padding-left: .8rem;
    padding-bottom: .5rem;
}
.input-field{
    width: 100%;
    outline: 0;
    border: 1px solid $form-border;
    background-color: $input-bg;
    border-radius: $radius;
    font-size: .8rem;
    padding: 10px 10px;
    margin: 0 0 .4rem;
    &::placeholder{
        font-size: .8rem;
    }
}
span, label{
    font-size: .7rem;
    // color: $span;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2px;
    color: #737373;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 28px;
    a{
        color: $span;
    }
}
span{
    font-family: $roboto;
    font-weight: 500;
}
span.cat{
    display: block;
    width: 100%;
    padding: 0 1rem .5rem;
    margin: .8rem 0 .2rem;
}

.checkbox{
    // display: flex;
    // width: 100%;
    // padding: 0 .8rem .5rem;
    span{
        padding: 0 .5rem;
    }
    [type="checkbox"] + label{
        // display: block;
        &::before{
            font-family: "Font Awesome 5 Free";
            font-weight: 600;
            font-size: .7em;
            content: url('/Assets/check.png');
            border: 1px solid $checkbox;
            border-radius: 4px;
            width: 0rem;
            // height: 1rem;
            padding: .29rem .3rem;
            margin-right: .5rem;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
        }
        &:active{
            &::before{
                transform: scale(0);
            }     
        }
        
    }
    [type="checkbox"]{
        pointer-events: all;
        position: relative;
        display: none;
        &:checked + label::before{
            background-color: $checkbox;
            border-color: $checkbox;
            color: $white;
        }
    }
}
.sign-btns{
    width: 100%;
    color: $white;
    background-color: $sign-btn;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    padding: .5rem 0;
}
.slink{
    color: $bottom-color;
    cursor: pointer;
}

.borderonly{
    width: 16rem;
    height: 3.5rem;
    outline: 0;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.borderonly .file {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #737373;
    font-family: Roboto;
    padding-left: 15px;
}
.borderonly .file img{
    height: 18px;
    padding-right: 6px;
}
.btns{
    background-color: #D86018;
    border: 1px solid #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    padding: 1rem 1rem;
    color: white;
    letter-spacing: 0.2px;
    margin-left: -4px;
    cursor: pointer;
    outline: none;
}
.newfile{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    // height: 100px;
}
.upload{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.upload.cl {
    padding-top: 1rem;
    color: rgba(115, 115, 115, 0.5);
}
.signinput-field{
    width: 100%;
    min-height: 3.5rem;
    outline: 0;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 1px solid #e5e5e5;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 2.4rem;
}
.plus{
    width: 3px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), inset 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .9rem 1rem;
    position: relative;
    top: -5.2rem;
    left: 90%;
    margin-bottom: -1.6rem;
    cursor: pointer;
    z-index: 600;
    &::before, &::after{
        position: absolute;
        content: "";
        width: 3px;
        height: 20px;
        background: #B7B7B7;
        transform: rotate(90deg); 
    }
    &::after{
        transform: rotate(0deg);
    }
}
.minus{
    @extend .plus;
    &::before, &::after{
        position: absolute;
        content: "";
        width: 3px;
        height: 20px;
        background: #B7B7B7;
        transform: rotate(-90deg); 
    }
}
.btn-reg{
    background: #737373;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1rem 9rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: fit-content;
    margin-bottom: 3rem;
    transition: .2s;
    display: block;
    margin-top: 1rem;
    &:active{
        transform: scale(.9);
    }
}
#cap:checked ~ button.btn-reg{
    background: $bottom-color
}

// @media (max-width: 1112px) {
//     #sign-up-form{
//         top: 20%;
//         left: 60%;
//         right: 0;
//     }
//     #sign-in-form{
//         top: 6.5%;
//     }
// }
@media (max-width: 868px) {
    #sign-up-form{
        top: 20%;
        left: 25%;
        right: 0;
    }
    #sign-in-form{
        top: 12.5%;
    }
}
@media (max-width: 458px) {
    #sign-up-form{
        top: 20%;
        left: 14%;
        right: 0;
    }
    #sign-in-form{
        top: 12.5%;
    }
}
@media (max-width: 378px) {
    #sign-up-form{
        top: 20%;
        left: 10%;
        right: 0;
    }
    #sign-in-form{
        top: 12.5%;
    }
}
@media (max-width: 325px) {
    #sign-up-form{
        top: 20%;
        left: 3%;
    }
    #sign-in-form{
        top: 12.5%;
        right: 2.5%;
    }
}