nav{
    height: 87px;
    background-color: $base;
    display: block;
    width: 100%;
    z-index: 999;
    .nav-logo{
        float: left;
        line-height: 87px;
        img{
            height: 59px;
            width: auto;
        }
    }
    ul{
        float: right;
        margin: 1.7rem 0rem 0 0;
        transition: left .5s ease-in-out;
        li{
            display: inline-block;
            padding: 2px 15px;
            margin: 0 1rem 0 0;
            &:last-child{
                color: transparent;
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
                // margin: 0;
                // border: 2px solid $borders;
                // border-radius: $radius;
            }
            a{
                color: $text-link;
                // font-size: 20px;
                font-family: $roboto;
                font-style: normal;
                font-weight: normal;
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .login-btn{
        float: right;
        // width: 100%;
        color: $text-link;
        padding: 2px 15px;
        border: 2px solid $borders;
        border-radius: $radius;
        position: relative;
        left: 33%;
        top: 26px;
    }
    .hamburger{
        width: 35px;
        height: 35px;
        background-color: transparent;
        float: right;
        margin: 2.5rem 30px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .burger{
            width: 30px;
            height: 3px;
            border-radius: 10px;
            background-color: $white;
            border-radius: 10px;
            transition: all .5s ease-in;
            &::before,&::after{
                content: "";
                width: 30px;
                height: 3px;
                border-radius: 10px;
                background-color: $white;
                border-radius: 10px;
                position: absolute;
                transition: all .5s ease-in;
            }
            &::before{
                transform: translateY(-8px);
            }
            &::after{
                transform: translateY(8px);
            }
        }
    }
    #menu{
        display: none;
    }
    .hamburger{
        display: none;
    }
}

@media (max-width: 1200px) {
    nav{
        .login-btn{
            left: 40%;
        }
    }
}
@media (max-width: 990px) {
    nav{
        .login-btn{
            left: 55%;
        }
    }
}
@media (max-width: 895px) {
    nav{
        overflow: hidden;
        .nav-logo{
            margin-left: 2.5rem;
        }
        ul{
            display: block;
            left: -100%;
            position: absolute;
            top: 13%;
            margin: 0;
            width: 100%;
            height: 90vh;
            border-top: 2px solid $borders;
            z-index: 999;
            background-color: $base;
            li{
                display: block;
                text-align: center;
                margin: 40px auto;
                &:last-of-type{
                    width: fit-content;
                    margin: auto;
                }
                
            }
        }
        .container{
            width: 100vw;
            padding: 0;
        }
        .login-btn{
            float: right;
            color: $text-link;
            padding: 2px 15px;
            border: 2px solid $borders;
            border-radius: $radius;
            position: relative;
            left: -5%;
            top: 26px;
        }
        .hamburger{
            display: block;
        }
    }
    #menu:checked ~ ul {
        display: block;
        left: 0;
    }
    
    #menu:checked ~ .hamburger{
        .burger{
            background-color: transparent;
            &::after{
                transform: rotate(45deg) translateX(0);
            }
            &::before{
                transform: rotate(-45deg) translateX(0);
            }
        }
    }
}
@media (max-width: 325px) {
    nav{
        .nav-logo{
            img{
                height: 40px;
                width: auto;
            }
        }
    }
}