// ****************Basic Colors****************

$white: #ffffff;
$black: #000000;
$base: #A95A18;
$text-link: #FFFCFE;
$borders: #F7FAFC;
$bottom-color: #D86018;
$form-border: #E6E6E6;
$input-bg: #F9F9F9;
$footer: #E5E5E5;
$span: #737373;
$sign-btn: #D86018;
$checkbox: #1262ed;



$gradient: linear-gradient(136.83deg, #c8651aee 10.1%, #7e1719d5 97.86%);
// $gradient: linear-gradient(136.83deg, #C8661A 10.1%, #7E1719 97.86%);
$bottom-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 23.44%, rgba(255, 255, 255, 0.175781) 76.56%, rgba(0, 0, 0, 0.5) 100%);


// ****************Basic Fonts****************
$roboto: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// ****************Basic Radius****************
$radius: 5px;
























































































